{% load static %}

<html class='page'>
    <head>
        <title>What to Make | Edit Profile</title>
        <link rel="stylesheet" type="text/css" href="{% static 'search/style.css' %}" />
    </head>
    <body>
        <div class='navbar'>
            <a href="{% url 'profile' %}" id='profLink'>What to Make</a>
            <a href="{% url 'logout_view' %}">Log-Out</a>
            <a href="{% url 'edit_profile' %}">Settings</a>
            <a href="{% url 'query' %}">Search Recipes</a>
        </div>
        <div class='content'>
            <h4>Saved Recipes</h4>
            <form method="POST">
                {% csrf_token %}
                {% for recipe in saved_recipes %}
                   {{ recipe }} <input type="checkbox" name="recipe" value="{{ recipe }}">
                {% endfor %}
                <br><br><input type="submit" value="Delete"><br><br>
            </form>
            <h4>Block Ingredients</h4>
            <form method="POST">
                {% csrf_token %}
                {% for type in type_list %}
                    <br><h5>{{ type }}</h5>
                    {% for ing in ing_list %}
                        {% if ing.ing_type == type %}
                            {{ ing }} <input type="checkbox" name="ingredient" value="{{ ing }}">
                        {% endif %}
                    {% endfor %}
                {% endfor %}
                <br><br><input type="submit" value="Block">
            </form> 
        </div>
    </body>
</html>