{% load static %}

<html class='page'>
    <head>
        <title>What to Make | Edit Profile</title>
        <link rel="stylesheet" type="text/css" href="{% static 'search/style.css' %}" />
    </head>
    <body>
        <div class='navbar'>
            <a href="{% url 'profile' %}" id='profLink'>What to Make</a>
            <a href="{% url 'logout_view' %}">Log-Out</a>
            <a href="{% url 'edit_profile' %}">Settings</a>
            <a href="{% url 'query' %}">Search Recipes</a>
        </div>
        <div class='content' id='saved'>
            <h3>Saved Recipes</h3>
            <form method="POST">
                {% csrf_token %}
                {% for recipe in saved_recipes %}
                    <input type="checkbox" name="recipe[]" value={{ recipe }}>{{ recipe }}<br><br>
                {% endfor %}
                <br><input type="submit" value="Delete"><br><br>
            </form>
        </div>
        <div class='content' id='block'>
            <h3>Block Ingredients</h3>
            <form method="POST">
                {% csrf_token %}
                {% for type in type_list %}
                    <br><h4>{{ type }}</h4>
                    {% for ing in ing_list %}
                        {% if ing.ing_type == type and ing not in block_list %}
                            {{ ing }} <input type="checkbox" name="ing_toBlock[]" value={{ ing }}>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
                <br><br><input type="submit" value="Block">
            </form> 
        </div>
        <div class='content' id='unblock'>
            <h3>Unblock Ingredients</h3>
            <form method="POST">
                {% csrf_token %}
                {% for type in type_list %}
                    <br><h4>{{ type }}</h4>
                    {% for ing in block_list %}
                        {% if ing.ing_type == type %}
                            {{ ing }} <input type="checkbox" name="unblock[]" value={{ ing }}>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
                <br><br><input type="submit" value="Unblock">
            </form>
        </div>
    </body>
</html>