{% load static %}

<html class='validate'>
    <head>
        <title>What to Make | Find your Recipe!</title>
        <link rel="stylesheet" type="text/css" href="{% static 'search/style.css' %}" />
    </head>
    <body>
        <div id='loginContent'>
            <h1>What to Make</h1>
            <h3>Find your Recipe!</h3>
            <form method="post">
                {% csrf_token %}
                {{form.as_p}}
                <input type="submit" value="Log-In">
            </form>
            <p>Not signed up? <a href="{% url 'signup' %}">Start cooking today!</a></p>
        </div>
    </body>
</html>