{% load static %}
<html class='page'>
    <head>
        <title>What to Make | Profile</title>
        <link rel="stylesheet" type="text/css" href="{% static 'search/style.css' %}" />
    </head>
    <body>
        <div class='navbar'>
            <a href="{% url 'profile' %}" id='profLink'>What to Make</a>
            <a href="{% url 'logout_view' %}">Log-Out</a>
            <a href="{% url 'edit_profile' %}">Settings</a>
            <a href="{% url 'query' %}">Search Recipes</a>
        </div>
        <div class='content'>
            <h3>Saved Recipes</h3>
            {% for saved in saved_list %}
                <p>{{ saved }}</p>
            {% endfor %}
            <h3>Blocked Ingredients</h3>
            {% for blocked in block_list %}
                <p>{{ blocked }}</p>
            {% endfor %}
        </div>
    </body>
</html>