<html>
    <head>
        <title>What to Make | Search</title>
    </head>
    <body>
        <div id='ingList'>
            {% for ing in ingredient_list %}
                <button type="button">{{ ing }}</button>
            {% endfor %}
        </div>
        <script>
            (function() {
                var cx = '006834900479128639157:ow0w0hxfk7m';
                var gcse = document.createElement('script');
                gcse.type = 'text/javascript';
                gcse.async = true;
                gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
                var s = document.getElementsByTagName('script')[0];
                s.parentNode.insertBefore(gcse, s);
            })();
        </script>
        <gcse:searchresults-only></gcse:searchresults-only>
        <gcse:search></gcse:search>
    </body>
</html>