<html>
    <head>
        <title>What to Make | Search</title>
    </head>
    <body>
        <div class='title'>
            <h1>What to Make</h1>
            <h3>Search</h3>
        </div>
        <a href="{% url 'profile' %}"><button type="button">Profile</button></a>
        <a href="{% url 'logout_view' %}"><button type="button">Log-Out</button></a>
        <div id='ingList'>
            {% for ing_type in type_list %}
                <h5>{{ ing_type }}</h5>
                {% for ing in ingredient_list %}
                    {% if ing.ing_type == ing_type and ing not in block_list%}
                        <button type="button">{{ ing }}</button>
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </div>
        <script>
            (function() {
                var cx = '006834900479128639157:ow0w0hxfk7m';
                var gcse = document.createElement('script');
                gcse.type = 'text/javascript';
                gcse.async = true;
                gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
                var s = document.getElementsByTagName('script')[0];
                s.parentNode.insertBefore(gcse, s);
            })();
        </script>
        <gcse:searchbox></gcse:searchbox>
        <gcse:search></gcse:search>
    </body>
</html>