<!--The home/landing page for this application-->
<html>
    <head>
        <title>What to Make | Find your recipe!</title>
    </head>
    <body>
        <h1>What to Make</h1>
        <h4>Find <en>your</en> recipe!</h4>

        <h3>Sign In</h3>
        <form action="" method="post">
            {% csrf_token %}
            E-Mail:<input type="email" name="email"/><br>
            Password:<input type="password" name="pass"/><br>
            <input type="submit" value="Log In"/>
        </form>

        <p>Not signed up? <a href="">Start cooking today!</a></p>
    </body>
</html>