{% load static %}

<html class='validate'>
    <head>
        <title>What to Make | Sign-Up</title>
        <link rel="stylesheet" type="text/css" href="{% static 'search/style.css' %}" />
    </head>
    <body>
        <div class='validContent'>
            <a href="{% url 'index' %}" id='indLink'><h1>What to Make</h1></a>
            <form method="POST">
                {% csrf_token %}
                {{form.as_p}}
                <input type="submit" value="Sign-Up">
            </form>
        </div>
    </body>
</html>